@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";


$moutard : rgb(255, 200, 0);
$noir : black;
$snow : white;
$softblack : rgba(58, 57, 57, 0.114);


$colors : ("moutard": $moutard ,
            "noir" : $noir ,
            "snow" : $snow,
            "softblack" : $softblack);


$spacer: 10px;
@for $i from 1 through 100{
    $spacers: map-merge($spacers, ($i : $spacer * $i) );
}


$theme-colors : map-merge($colors , $theme-colors);
