*{
padding:0%;
margin:0%;
}

.phone-time{
    display: flex;
    gap: 20px;
}
.nav_bottom{
    display:flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.448);
    position: fixed;
    z-index: 99;
    a{
        text-decoration: none;
        color: snow;
        &:hover{
            color: $moutard;
        }
    }
    select{
        border: none;
        background-color: transparent;
    }
}

.height{
    height: 100vh;
}


.flex_crs_prg{
    display: flex;
    gap: 45px;
    padding: 8vh 9vw;
    background-color: rgba(255, 228, 196, 0.437);
}

.three_cards{
    color: rgb(34, 34, 34);
    border: 1px solid transparent;
    background-color: rgba(183, 182, 182, 0.082);
    padding: 45px;
}

.cards_parent{
    display: flex;
    gap: 35px;
    padding: 8vh 9vw;
}
.titles{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
    a{
        display: flex;
        text-decoration: none;
        color: $moutard;
    }
}
.links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.crsl{
    display: flex;
    justify-content: center;
    gap: 15px;
}
.btn1{
    border: 3px solid $moutard;
    border-radius: 20px;
    padding: 2px 4px;
    background: transparent;
    color: $moutard;
}
.menu_grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    padding: 9vh 8vw;
    img{
        width: 5vw;
        height: 10vh;
        border: 8px solid rgba(128, 128, 128, 0.27);
        border-radius: 50%;
    }
}
.menu_flex{
    display: flex;
    gap: 8px;
}

.events{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 45px;
    img{
        width: 35vw;
        height: 45vh;
    }
}

.event_carousel{
    height: 75vh;
    width: 100vw;
    opacity: 90%;
}
.table_flex{
    display: flex;
    background-color: rgba(128, 128, 128, 0.133);
    gap:30px;
    height: 75vh;
    padding: 0px 25px 0px 0px;
}

.table_grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2vw;
}
.table_column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.im-grid img {
    width: 100%;
    height: 75vh;
    object-fit: cover;
}
.message_size{
    padding-top: 5vh;
    textarea{
    width: 70vw;
    height: 25vh;
}
}
.table_button{
    padding-top: 5vh;
    button{
        width: 10vw;
        height: 5vh;
        background-color: $moutard;
        color: $snow;
        border: 1px solid transparent;
        border-radius: 20px;
    }
}
.my-gallery-container {
    padding-right: 0 !important;
    padding-left: 0 !important;
    overflow: hidden;
}
.img-gallery{
    transition: transform 0.3 ease;
    box-shadow: 0.3s ease;
}
.chefs_flex{
    display: flex;
    padding: 4vh 4vw;
    img{
        width: 30vw;
        height: 40vh;
        object-fit: cover;
    }
}